

body {
    background-color: rgb(58, 46, 57);
    color: rgb(244, 216, 205);
    width:80%;
    min-width: 390px;
    margin-left:auto;
    margin-right:auto;
    font-family: "Verdana";
    font-size: larger;
    
}

/* NAVBAR STUFF */
navbar {
    margin: auto;
    width: 100%;
    min-width: 400px;
}

navbar ul {
    
    list-style: none;
    background-color:rgb(30, 85, 92);
    border-radius: 10px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

navbar a {
    display: block;
    text-align: center;
    padding: 20px 16px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(244, 216, 205);
}

navbar a.active {
    text-decoration: underline;
}

navbar a:hover{
    background-color: rgb(20, 57, 62);
} 


/* BACKGROUND IMAGES */
.bg-img {
    min-height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-poolroom {
    background-image: url("./img/wallpaper-billiard-0.jpg");
    background-position: 0 -400px;
}

.bg-black-ball {
    background-image: url("./img/2560x1440_px_Billiards-835958.jpg");
}

.bg-babyfoot {
    background-image: url("./img/photo-1537870518440-87b194cab411.jpg");
    background-position: 0 -380px;
}

.blur {
    height: 100%;
    width: 100%;
    padding: 15px 0;
    margin: auto;
    backdrop-filter:  blur(0px); /* En faite c'est mieux sans */
}


/* PAGE STUFF */

h1 {
    font-size: 50px;
    font-family: fantasy;
    margin-left: 15px;
    color: rgb(244, 216, 205);
}

.space-list > * {
    margin: 10px;
}

.main-section {
    margin: 10px;;
}